# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.__pycache__
.venv
pip-selfcheck.json
config.py
SPA.html
.gitignore
venv/robot/templates/robot/base.html
venv/robot/templates/robot/login.html
venv/robot/templates/robot/notify.txt
venv/robot/templates/robot/request_list.html
venv/robot/templates/robot/request_new.html
venv/robot/templates/robot/request_view.html
venv/robot/templates/robot/request.txt
testStyle.py
